{% extends 'base.html' %}

{% block title %}Acerca de Mí{% endblock %}
{% block contenido %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h1 class="display-4 mb-3 text-center">Acerca de mí</h1>
            <p>
                Hola, soy <strong>Gonzalo Martínez</strong>, ingeniero mecánico especializado en la gestión de datos maestros de materiales de la industria Oil & Gas.
            </p>
            <p>
                Este proyecto fue desarrollado como parte del curso de <strong>CoderHouse</strong> que estoy finalizando, con el objetivo de implementar lo aprendido en una herramienta que combina la programación en <strong>Python</strong> con la gestión de una <strong>base de datos</strong> y la herramienta web <strong>Django</strong>.
            </p>
            <p>
                La web constituye la base de datos de clientes del gimnasio ficticio <strong>Training Center</strong>, a la cual puede acceder el personal administrativo, con un Usuario y Contraseña personales, para registrar nuevos clientes, visualizar la ficha de un cliente y modificar o eliminar clientes.
            </p>
            <p> Si deseas contactame puedes hacerlo vía mail a <strong>martinezromang@gmail.com</strong>
            </p>

    {% endblock contenido %}