<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>        
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'crear_cliente' %}">Registrar Cliente</a>
        <a href="{% url 'listado_de_clientes' %}">Listado de Clientes</a>
    </nav>
    <h1>Registrar Nuevo Cliente</h1>
    <form action="{% url 'crear_cliente' %}" method="post">
        {% csrf_token %}
    
        {{formulario}}
        
        <input type="submit" value="Registrar">
</body>
</html>