<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>        
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'crear_registro' %}">Registrar Cliente</a>
        <a href="{% url 'listado_de_clientes' %}">Listado de Clientes</a>
    </nav>
    <h1>Ficha de Cliente</h1>
    <p>Nombre: {{cliente.nombre}}</p>
    <p>Apellido: {{cliente.apellido}}</p>
    <p>Fecha de nacimiento: {{cliente.fecha_de_nacimiento}}</p>
    <p>Edad: {{cliente.edad}}</p>
    <p>Sede de inscripción: {{cliente.sede_inscripcion}}</p>
    <p>Email: {{cliente.email}}</p>
</body>
</html>