{% extends 'base.html' %}

{% block title %}Eliminar Cliente{% endblock %}

{% block contenido %}
<div class="card border-danger">
    <div class="card-header bg-danger text-white">
        <h1 class="h4 mb-0">Eliminar: {{ cliente }}</h1>
    </div>
    <div class="card-body">
        <p class="mb-3">¿Está seguro de que desea eliminar al cliente?</p>
        <form action="{% url 'eliminar_cliente' cliente.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'listado_de_clientes' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock contenido %}

