<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>        
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'crear_cliente' %}">Registrar Cliente</a>
        <a href="{% url 'listado_de_clientes' %}">Listado de Clientes</a>
    </nav>
    <h1>Eliminar: {{cliente}}</h1>
    <form action="{% url 'eliminar_cliente' cliente.id %}" method="post">
        {% csrf_token %}
    
       <p>¿Está seguro de que desea eliminar al cliente?</p>
        
        <input type="submit" value="Eliminar">
</body>
</html>